section#contact {
  padding-bottom: 0;
  @include md {
    @include section-divided;
    grid-template-rows: auto;
  }
  .contact-bg {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url(/temp/images/contact.jpg);
    @include bg-image;

    @include sm {
      background-image: url(/temp/images/contact.jpg);
    }
  }

  .row-grid {
    display: block;

    @include md {
      display: grid;
    }
  }
}
