section#deals {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/images/nathan-dumlao-290152-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: $mainBeige;

  ul {
    padding-top: 1rem;
    padding-left: 20%;

    @include sm {
      padding-left: 25%;
    }

    @include lg {
      padding-left: 10%;
    }
  }

  li {
    font-size: 1.1rem;
    white-space: nowrap;
  }

  li:before {
    content: "\f3ff";
    font-family: Ionicons;
    color: $mainRed;
    padding-right: 1rem;
    font-size: 1.8rem;
  }

  li.no-icon:before {
    content: "";
  }

  a {
    color: $mainBeige;
  }
}
