section#deals {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/images/nathan-dumlao-290152-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: $mainBeige;
}
