section#deals {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/images/nathan-dumlao-290152-unsplash.jpg);
  color: $mainBeige;
  grid-template-rows: 10rem auto 13rem;

  @include bg-image;

  @include md {
    height: auto;
  }
  .row:last-of-type {
    padding: 0 1rem 2rem 1rem;

    @include md {
      padding-top: 1rem;
    }
  }

  a {
    color: $mainBeige;

    li {
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
      z-index: 5;
    }
  }
  button {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .container,
  .row-grid {
    overflow: visible;
  }
  .card1-of-4 {
    @include dark-bg;
    @include transition;
    white-space: nowrap;

    h5:last-of-type {
      padding-bottom: 0;
    }

    &:hover {
      @include scale;
      background-color: hsl(0, 0%, 0%);
    }
  }
}
