footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/assets/images/footer.jpg);
  @include bg-image;
  color: $lightGray;
  height: auto;
  padding: 1rem;

  @include md {
    padding: 2rem 3rem;
    height: 15rem;
  }

  .container {
    display: grid;
    grid-template-rows: 3rem 5rem 5rem;
  }
  .footer-icons {
    @include md {
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
    }
  }
  .footer-text {
    margin-top: 1rem;
  }
  .copyright {
    font-size: 0.9rem;
    align-self: end;

    @include md {
      align-self: center;
    }
  }

  .row-grid-no-p {
    @include center;
    align-items: center;
  }
}
