footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/images/footer.jpg);
  background-size: cover;
  background-position: center;
  height: 15rem;
  color: #ffffff;
  font-size: 1.1rem;

  .icon {
    color: white;
    font-size: 2.3rem;
  }

  a {
    padding-right: 1.5rem;
    float: right;
  }

  .row {
    height: 50%;
    padding-top: 2rem;
  }

  .smaller {
    font-size: 1rem;
  }

  .lineheight {
    line-height: 2rem;
  }
}
