header {
  height: 5rem;
  width: 100%;
  z-index: 3;
  align-content: center;
  top: 0;
  background-color: hsla(34, 51%, 74%, 0.849);
  @include grid;
  @include absolute;

  i#menu-button {
    font-size: 1.4rem;
    margin-top: 1.2rem;
    @include right;
    @include transition;

    &:hover {
      cursor: pointer;
      transform: scale(1.3);
    }

    @include md {
      display: none;
    }
  }

  .logo {
    height: 3.5rem;
    grid-column: 1 / 3;

    @include lg {
      height: 4.3rem;
    }
  }

  nav {
    float: right;
    padding: 1.3rem 0;
    text-transform: uppercase;
    display: none;

    @include lg {
      padding: 1.5rem 0;
    }

    a {
      color: $mainBrown;
      margin-left: 1rem;
      padding-bottom: 0.7rem;
      border-bottom: 2px solid transparent;

      @include transition;

      &:hover {
        border-bottom: 2px solid $mainRed;
      }

      @include lg {
        margin-left: 1.5rem;
      }
    }

    @include md {
      display: block;
    }
  }
}
