section#hero {
  background-image: url("../../images/hero-large.jpg");
  @include bg-image;

  @include md {
    align-content: end;
  }

  .hero-container {
    @extend .container;
    grid-column: 2 / 8;
  }

  .hero-text {
    padding-top: 10rem;
    padding-bottom: 3rem;
    background-color: pink;

    @include center;
    @include md {
      padding-bottom: 8rem;
    }
  }
}
