section#hero {
  background-image: linear-gradient(
      rgba(245, 194, 146, 0.4),
      rgba(245, 194, 146, 0.4)
    ),
    url(/assets/images/hero-small.jpg);
  @include bg-image;
  align-content: end;
  height: 32rem;

  @include md {
    background-image: linear-gradient(
        rgba(245, 194, 146, 0.4),
        rgba(245, 194, 146, 0.4)
      ),
      url(/assets/images/hero-large.jpg);
    height: 100vh;
  }

  .hero-container {
    position: absolute;
    bottom: 2rem;
    @include md {
      grid-column: 2 / 10;
      position: relative;
      padding-bottom: 8rem;
    }
  }

  .hero-text {
    padding: 1rem;

    @include sm {
      padding: 2rem;
    }
  }
}
