section#how {
  @include center;

  @include md {
    @include section-divided;
    text-align: left;
    grid-template-rows: auto;
  }

  .num {
    color: $mainRed;
    font-size: 2rem;
    padding: 1rem;
    display: block;
    @include center;

    @include md {
      grid-column: span 1;
    }
  }
  .how-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(/temp/images/how-it-works.jpg);

    @include bg-image;
  }
}
