section#how {
  .how-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/assets/images/how-it-works.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  .num {
    color: $mainRed;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
  }
}
