section#intro {
  position: relative;

  @include lg {
    background-image: url(/assets/images/intro-bg.jpg);
    background-size: cover;
    background-position: right;
  }

  &--img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100px;
    width: auto;
    margin-top: -5rem;

    @include md {
      height: 150px;
    }

    @include lg {
      display: none;
    }
  }
}
