section#snacks {
  background-image: linear-gradient(
      rgba(222, 193, 154, 0.8),
      rgba(222, 193, 154, 0.8)
    ),
    url(/assets/images/snacks-01.jpg);
  background-size: cover;
  background-position: center;

  @include md {
    background-color: $mainBeige;
    background-image: none;
  }
}
