section#snacks {
  background-image: linear-gradient(
      rgba(238, 211, 176, 0.7),
      rgba(238, 211, 176, 0.7)
    ),
    url(temp/images/snacks-01.jpg);
  @include bg-image;

  @include md {
    background-color: $mainBeige;
    background-image: none;
  }
  @include section-divided;
  background-color: $mainBeige;

  .image-grid {
    display: none;
    @include no-overflow;

    @include md {
      display: grid;
      grid-template-rows: repeat(3, 33.3%);
    }

    img {
      max-width: 100%;
      @include scale;
      @include transition;

      &:hover {
        transform: scale(1);
      }
    }
  }
}
