.snacks {
  background-image: linear-gradient(
      rgba(222, 193, 154, 0.8),
      rgba(222, 193, 154, 0.8)
    ),
    url(/assets/images/snacks-01.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;

  @include md {
    height: 100vh;
    background-color: $mainBeige;
    background-image: none;
  }

  ul {
    height: 100%;

    li {
      display: block;
      height: 33.33%;
      overflow: hidden;
    }
  }

  h2 {
    padding-top: 2rem;
    text-align: center;
  }

  p {
    padding-top: 2rem;
    text-align: center;

    @include sm {
      padding-top: 4rem;
    }
  }
}
.snacks-pic {
  width: 100%;
  margin: 0;

  img {
    width: 100%;
    opacity: 0.7;
    transform: scale(1.25);
    transition: opacity 0.5s, transform 0.3s;
  }
  img:hover {
    transform: scale(1.18);
    opacity: 1;
  }
}
