section#testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/images/coffee-beans-bg.jpg);
  grid-template-rows: 10rem 9rem auto;
  color: $mainBeige;

  @include bg-image;

  .container,
  .container-smaller {
    padding-top: 3rem;
  }
  .card1-of-3 {
    font-style: italic;
  }
}
