section#testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/coffee-beans-bg.jpg);
  background-size: cover;
  background-position: center;
  color: $mainBeige;

  .wrapper--bg-box {
    padding: 1rem;
    font-style: italic;
    text-align: left;

    @include lg {
      padding: 2rem;
    }
  }

  .wrapper {
    padding: 1rem;

    @include lg {
      padding: 1.875rem 2.5rem;
    }
  }

  .wrapper--col-3 {
    padding: 0;

    @include lg {
      padding: 2rem 1rem;
    }
  }

  h5 {
    padding-bottom: 1rem;

    @include lg {
      text-align: center;
    }
  }

  img {
    display: inline-block;
    width: 80px;
    border-radius: 50%;
    float: left;
    margin: -0.6rem 1rem 0.5rem 0;

    @include md {
      width: 95px;
    }

    @include lg {
      display: block;
      width: 50%;
      height: auto;
      margin: 0 auto;
      margin-top: -42%;
      margin-bottom: 1rem;
      float: none;
    }
  }

  .wrapper--flex {
    margin-top: 2rem;
  }
}
