* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:focus {
    outline: none; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

h3,
h5 {
  padding-bottom: 1rem; }
  @media (min-width: 810px) {
    h3,
    h5 {
      padding-bottom: 2rem; } }

h4 {
  padding-bottom: 1rem; }

.container {
  padding: 1rem;
  height: auto; }
  @media (min-width: 810px) {
    .container {
      grid-column: 2 / 12;
      padding: 0; } }
  .container-smaller {
    padding: 2rem;
    text-align: center; }
    @media (min-width: 810px) {
      .container-smaller {
        grid-column: 3 / 11; } }

.grid-half {
  grid-column: span 1; }

.row-grid-no-p {
  grid-column: span 12; }

.row {
  grid-column: span 12;
  padding-top: 3rem;
  text-align: center; }

.row-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: center; }

.row-smaller-p {
  padding-top: 1rem; }
  @media (min-width: 480px) {
    .row-smaller-p {
      padding-top: 2rem; } }

.wrapper {
  text-align: center;
  padding: 3rem;
  line-height: 2;
  max-width: 40rem;
  margin: 0 auto; }
  @media (min-width: 480px) {
    .wrapper {
      padding: 3rem 5rem;
      line-height: 3; } }
  .wrapper-grid-1-5 {
    line-height: 1.7;
    padding: 1rem 3rem; }
    @media (min-width: 810px) {
      .wrapper-grid-1-5 {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-gap: 1rem;
        padding: 3rem 5rem; } }
    .wrapper-grid-1-5 p {
      align-self: center; }

.left {
  text-align: left; }

body,
button,
a {
  font-family: "Lato", "Arial", sans-serif;
  color: #3e2723;
  font-size: 1.1rem;
  font-weight: 300; }
  @media (min-width: 1024px) {
    body,
    button,
    a {
      font-size: 1.25rem; } }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  text-transform: uppercase; }

h1 {
  font-size: 1.3rem; }
  @media (min-width: 480px) {
    h1 {
      font-size: 1.5rem; } }
  @media (min-width: 810px) {
    h1 {
      font-size: 1.7rem;
      line-height: 1.3; } }
  @media (min-width: 1024px) {
    h1 {
      font-size: 2.2rem; } }

.bigger {
  font-size: 2.3rem; }
  @media (min-width: 480px) {
    .bigger {
      font-size: 3rem; } }
  @media (min-width: 810px) {
    .bigger {
      font-size: 3.5rem; } }
  @media (min-width: 1024px) {
    .bigger {
      font-size: 4rem; } }

footer {
  font-size: 1rem; }

section#deals {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/nathan-dumlao-290152-unsplash.jpg);
  color: #dfc19b;
  grid-template-rows: 10rem auto 13rem;
  height: auto;
  background-size: cover;
  background-position: center; }
  @media (min-width: 1024px) {
    section#deals {
      height: 100vh; } }
  section#deals a {
    color: #dfc19b; }
    section#deals a li {
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
      z-index: 5; }
  section#deals p {
    margin-top: 1rem; }
  section#deals .row:last-of-type {
    padding: 0 1rem 2rem 1rem; }
    @media (min-width: 810px) {
      section#deals .row:last-of-type {
        padding-top: 1rem; } }
  section#deals .container,
  section#deals .row-grid {
    overflow: visible; }
  section#deals .card1-of-4 {
    background-color: rgba(0, 0, 0, 0.788);
    transition: all 0.3s;
    white-space: nowrap; }
    section#deals .card1-of-4 h5:last-of-type {
      padding-bottom: 0; }
    section#deals .card1-of-4:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      background-color: black; }

header {
  height: 5rem;
  width: 100%;
  z-index: 3;
  align-content: center;
  top: 0;
  background-color: rgba(223, 193, 155, 0.849);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: absolute; }
  header i#menu-button {
    font-size: 1.4rem;
    margin-top: 1.2rem;
    float: right;
    transition: all 0.3s; }
    header i#menu-button:hover {
      cursor: pointer;
      -webkit-transform: scale(1.3);
              transform: scale(1.3); }
    @media (min-width: 810px) {
      header i#menu-button {
        display: none; } }
  header .logo {
    height: 3.5rem;
    grid-column: 1 / 3; }
    @media (min-width: 1024px) {
      header .logo {
        height: 4.3rem; } }
  header nav {
    float: right;
    padding: 1.3rem 0;
    text-transform: uppercase;
    display: none; }
    @media (min-width: 1024px) {
      header nav {
        padding: 1.5rem 0; } }
    header nav a {
      color: #3e2723;
      margin-left: 1rem;
      padding-bottom: 0.7rem;
      border-bottom: 2px solid transparent;
      transition: all 0.3s; }
      header nav a:hover {
        border-bottom: 2px solid #f44034; }
      @media (min-width: 1024px) {
        header nav a {
          margin-left: 1.5rem; } }
    @media (min-width: 810px) {
      header nav {
        display: block; } }

section#intro {
  background-color: #c9c9c9; }
  @media (min-width: 810px) {
    section#intro {
      grid-template-rows: 10rem 9rem auto; } }
  section#intro h3 {
    white-space: nowrap; }

section#hero {
  background-image: linear-gradient(rgba(245, 194, 146, 0.4), rgba(245, 194, 146, 0.4)), url(/assets/images/hero-small.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-content: end;
  height: 32rem; }
  @media (min-width: 810px) {
    section#hero {
      background-image: linear-gradient(rgba(245, 194, 146, 0.4), rgba(245, 194, 146, 0.4)), url(/assets/images/hero-large.jpg);
      height: 100vh; } }
  section#hero .hero-container {
    position: absolute;
    bottom: 2rem; }
    @media (min-width: 810px) {
      section#hero .hero-container {
        grid-column: 2 / 10;
        position: relative;
        padding-bottom: 8rem; } }
  section#hero .hero-text {
    padding: 1rem; }
    @media (min-width: 480px) {
      section#hero .hero-text {
        padding: 2rem; } }

section {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  overflow: hidden; }
  @media (min-width: 810px) {
    section {
      height: 100vh;
      padding-bottom: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr); } }

section#snacks {
  background-image: linear-gradient(rgba(238, 211, 176, 0.7), rgba(238, 211, 176, 0.7)), url(/assets/images/snacks-01.jpg);
  background-size: cover;
  background-position: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: #dfc19b; }
  @media (min-width: 810px) {
    section#snacks {
      background-color: #dfc19b;
      background-image: none; } }
  section#snacks .image-grid {
    display: none;
    overflow: hidden; }
    @media (min-width: 810px) {
      section#snacks .image-grid {
        display: grid;
        grid-template-rows: repeat(3, 33.3%); } }
    section#snacks .image-grid img {
      max-width: 100%;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      transition: all 0.3s; }
      section#snacks .image-grid img:hover {
        -webkit-transform: scale(1);
                transform: scale(1); }

@media (min-width: 810px) {
  section#contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; } }

section#contact .contact-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(/assets/images/contact.jpg);
  background-size: cover;
  background-position: center; }
  @media (min-width: 480px) {
    section#contact .contact-bg {
      background-image: url(/assets/images/contact.jpg); } }

section#contact .row-grid {
  display: block; }
  @media (min-width: 810px) {
    section#contact .row-grid {
      display: grid; } }

section#how {
  text-align: center; }
  @media (min-width: 810px) {
    section#how {
      grid-template-columns: repeat(2, 1fr);
      text-align: left;
      grid-template-rows: auto; } }
  section#how .num {
    color: #f44034;
    font-size: 2rem;
    padding: 1rem;
    display: block;
    text-align: center; }
    @media (min-width: 810px) {
      section#how .num {
        grid-column: span 1; } }
  section#how .how-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/how-it-works.jpg);
    background-size: cover;
    background-position: center; }

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/images/footer.jpg);
  background-size: cover;
  background-position: center;
  color: #c9c9c9;
  height: auto;
  padding: 1rem; }
  @media (min-width: 810px) {
    footer {
      padding: 2rem 3rem;
      height: 15rem; } }
  footer .container {
    display: grid;
    grid-template-rows: 3rem 5rem 5rem; }
  @media (min-width: 810px) {
    footer .footer-icons {
      display: grid;
      grid-auto-flow: column;
      justify-content: center; } }
  footer .footer-text {
    margin-top: 1rem; }
  footer .copyright {
    font-size: 0.9rem;
    align-self: end; }
    @media (min-width: 810px) {
      footer .copyright {
        align-self: center; } }
  footer .row-grid-no-p {
    text-align: center;
    align-items: center; }

section#testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/coffee-beans-bg.jpg);
  grid-template-rows: 10rem 9rem auto;
  color: #dfc19b;
  background-size: cover;
  background-position: center; }
  section#testimonials .container,
  section#testimonials .container-smaller {
    padding-top: 3rem; }
  section#testimonials .card1-of-3 {
    font-style: italic; }

form {
  border-radius: 10px;
  line-height: 2.5;
  text-align: left;
  max-width: 30rem;
  margin: 1rem auto; }
  @media (min-width: 480px) {
    form {
      padding: 3rem 5rem;
      background-color: rgba(255, 255, 255, 0.836); } }
  @media (min-width: 480px) and (min-width: 810px) {
    form {
      padding: 2rem 3rem; } }
  form input[type="text"] {
    width: 70%;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #c9c9c9;
    float: right;
    margin-top: 0.6rem; }
    @media (min-width: 480px) {
      form input[type="text"] {
        width: 63%; } }
  form input[type="checkbox"] {
    align-self: center;
    margin: 0 1rem 0 2rem; }
  form textarea {
    width: 100%;
    height: 8rem;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 8px;
    padding: 1rem; }
  form .row-grid-no-p:first-child,
  form .row-grid-no-p:nth-child(2),
  form .row-grid-no-p:nth-child(3) {
    text-align: left; }

.btn:link, .btn-ghost:link,
.btn:visited,
.btn-ghost:visited {
  padding: 0.6rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #dfc19b;
  border: 1px solid #f44034;
  background-color: #f44034;
  transition: all 0.3s; }
  @media (min-width: 480px) {
    .btn:link, .btn-ghost:link,
    .btn:visited,
    .btn-ghost:visited {
      font-size: 1rem; } }
  @media (min-width: 810px) {
    .btn:link, .btn-ghost:link,
    .btn:visited,
    .btn-ghost:visited {
      margin-top: 2rem;
      font-size: 1.2rem; } }
  @media (min-width: 1024px) {
    .btn:link, .btn-ghost:link,
    .btn:visited,
    .btn-ghost:visited {
      font-size: 1.3rem; } }
  .btn:link:hover, .btn-ghost:link:hover, .btn:link:active, .btn-ghost:link:active,
  .btn:visited:hover,
  .btn-ghost:visited:hover,
  .btn:visited:active,
  .btn-ghost:visited:active {
    border: 1px solid #b12a20;
    background-color: #b12a20; }
  .btn:link[type="submit"], .btn-ghost:link[type="submit"],
  .btn:visited[type="submit"],
  .btn-ghost:visited[type="submit"] {
    color: #dfc19b;
    padding: 0.6rem 1rem; }

.btn-ghost:link,
.btn-ghost:visited {
  background-color: rgba(197, 173, 128, 0.5);
  color: #f44034;
  transition: all 0.3s; }
  @media (min-width: 480px) {
    .btn-ghost:link,
    .btn-ghost:visited {
      margin-left: 1rem; } }
  .btn-ghost:link:hover, .btn-ghost:link:active,
  .btn-ghost:visited:hover,
  .btn-ghost:visited:active {
    color: #dfc19b; }

.app-btn:link,
.app-btn:visited {
  margin-right: 1rem; }
  .app-btn:link img,
  .app-btn:visited img {
    width: 7rem;
    height: auto;
    transition: all 0.3s; }
    @media (min-width: 480px) {
      .app-btn:link img,
      .app-btn:visited img {
        width: 9rem; } }
    .app-btn:link img:hover, .app-btn:link img:active,
    .app-btn:visited img:hover,
    .app-btn:visited img:active {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

i {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #f44034; }
  @media (min-width: 480px) {
    i {
      font-size: 3.5rem; } }
  @media (min-width: 810px) {
    i {
      margin-bottom: 2rem; } }

footer i {
  color: #c9c9c9;
  font-size: 2rem;
  margin: 0 0.5rem 0 0.5rem;
  transition: all 0.3s; }
  footer i:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  @media (min-width: 480px) {
    footer i {
      margin: 0 1rem 0 1rem; } }
  @media (min-width: 810px) {
    footer i {
      font-size: 2.5rem;
      margin: 0 2rem 0 2rem; } }

.line {
  display: block;
  height: 2px;
  background-color: #f44034;
  content: " ";
  width: 60px;
  margin: 1rem auto; }
  @media (min-width: 1024px) {
    .line {
      width: 100px; } }
  .line-small {
    height: 1px;
    background-color: #dfc19b;
    width: 10%;
    margin: 2rem auto; }
    @media (min-width: 1024px) {
      .line-small {
        width: 25%; } }
  .line-small-red {
    background-color: #f44034;
    width: 30px;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 2rem; }

.card1-of-3 {
  padding: 5% 5% 10% 5%;
  line-height: 1.5;
  grid-column: span 12; }
  @media (min-width: 810px) {
    .card1-of-3 {
      grid-column: span 4; } }

.card1-of-4 {
  grid-column: span 12;
  padding: 11%;
  margin: 0 1rem 1rem 1rem; }
  @media (min-width: 480px) {
    .card1-of-4 {
      grid-column: 3 / span 8; } }
  @media (min-width: 810px) {
    .card1-of-4 {
      grid-column: span 6;
      margin: 1rem; } }
  @media (min-width: 1024px) {
    .card1-of-4 {
      grid-column: span 3;
      margin: 0 0.5rem 1rem 0.5rem; } }
