* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

ul {
  list-style: none; }

.wrapper {
  padding: 1rem 0;
  overflow: hidden; }
  @media (min-width: 480px) {
    .wrapper {
      padding-top: 2rem; } }
  @media (min-width: 768px) {
    .wrapper {
      padding: 1.875rem 4rem; } }
  @media (min-width: 1024px) {
    .wrapper {
      padding: 1.875rem 2.5rem; } }
  .wrapper--col-2 {
    width: 100%; }
    @media (min-width: 768px) {
      .wrapper--col-2 {
        width: 50%;
        height: 100%;
        float: left; } }
  .wrapper--col-3 {
    padding-bottom: 2.5rem;
    text-align: center; }
    @media (min-width: 1024px) {
      .wrapper--col-3 {
        float: left;
        width: 33.33%;
        padding: 2rem 1rem; } }
  .wrapper--col-4 {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 1.375rem;
    margin-top: 1rem; }
    @media (min-width: 480px) {
      .wrapper--col-4 {
        width: 60%; } }
    @media (min-width: 768px) {
      .wrapper--col-4 {
        float: left;
        width: 50%; } }
    @media (min-width: 1024px) {
      .wrapper--col-4 {
        width: 25%;
        float: left;
        margin-top: 2rem; } }
  .wrapper--deals-box {
    width: 95%;
    padding: 0.5rem 1rem 1.5rem 1rem;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(224, 207, 150, 0.54);
    color: #3e2723;
    border-radius: 10px;
    font-size: 1rem; }
    @media (min-width: 480px) {
      .wrapper--deals-box {
        width: 80%;
        font-size: 1.1rem; } }
    @media (min-width: 768px) {
      .wrapper--deals-box {
        width: 50%; } }
    @media (min-width: 1024px) {
      .wrapper--deals-box {
        font-size: 1.2rem; } }
  .wrapper--bigger-p {
    padding: 1rem 4rem 4rem 4rem; }
    @media (min-width: 768px) {
      .wrapper--bigger-p {
        padding: 2rem 5rem 0 5rem; } }
    @media (min-width: 1024px) {
      .wrapper--bigger-p {
        padding: 2rem 7rem 0 7rem; } }
  .wrapper--disp-later {
    display: none; }
    @media (min-width: 768px) {
      .wrapper--disp-later {
        display: block; } }

.row {
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  @media (min-width: 480px) {
    .row {
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }
  @media (min-width: 768px) {
    .row {
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media (min-width: 1024px) {
    .row {
      padding-left: 0.3;
      padding-right: 0.3; } }
  .row--centered {
    text-align: center; }

.headline {
  text-transform: uppercase;
  font-weight: 300; }
  .headline--section {
    font-size: 2rem; }
    @media (min-width: 1024px) {
      .headline--section {
        font-size: 2.7rem; } }
  .headline--medium {
    font-size: 1.5rem; }
    @media (min-width: 1024px) {
      .headline--medium {
        font-size: 2.2rem; } }
  .headline--sm {
    text-align: center;
    font-size: 1.1rem; }
    @media (min-width: 1024px) {
      .headline--sm {
        font-size: 1.2rem;
        padding-top: 1rem; } }
  .headline--smaller {
    font-size: 1.3rem;
    padding-bottom: 0.5rem; }
    @media (min-width: 480px) {
      .headline--smaller {
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem; } }
    @media (min-width: 768px) {
      .headline--smaller {
        font-size: 1.7rem;
        padding-top: 1rem;
        padding-bottom: 1rem; } }

body {
  font-family: "Lato", "Arial", sans-serif;
  color: #3e2723;
  font-weight: 300;
  font-size: 1.1rem; }
  @media (min-width: 1024px) {
    body {
      font-size: 1.25rem; } }

.generic-text {
  font-weight: 300;
  font-size: 1.1rem; }
  @media (min-width: 1024px) {
    .generic-text {
      font-size: 1.25rem; } }

section#deals {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/nathan-dumlao-290152-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: #dfc19b; }
  section#deals ul {
    padding-top: 1rem;
    padding-left: 20%; }
    @media (min-width: 480px) {
      section#deals ul {
        padding-left: 25%; } }
    @media (min-width: 1024px) {
      section#deals ul {
        padding-left: 10%; } }
  section#deals li {
    font-size: 1.1rem;
    white-space: nowrap; }
  section#deals li:before {
    content: "\f3ff";
    font-family: Ionicons;
    color: #f44034;
    padding-right: 1rem;
    font-size: 1.8rem; }
  section#deals li.no-icon:before {
    content: ""; }
  section#deals a {
    color: #dfc19b; }

header {
  position: absolute;
  height: 4.5rem;
  width: 100%;
  z-index: 3; }
  @media (min-width: 768px) {
    header nav {
      top: 0;
      width: 100%;
      padding-top: 0.3rem;
      padding-bottom: 0.2rem;
      /* background-color: rgba(237, 196, 170, 0.5); */ } }
  header nav .logo {
    height: 55px;
    margin-top: 0.3rem; }
    @media (min-width: 768px) {
      header nav .logo {
        float: left; } }
    @media (min-width: 1024px) {
      header nav .logo {
        height: 60px; } }
  header nav ul {
    display: none; }
    @media (min-width: 768px) {
      header nav ul {
        list-style: none;
        float: right;
        margin-top: 0.5rem;
        display: inline-block; } }
    header nav ul li {
      display: inline-block;
      margin-left: 2rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
      header nav ul li a:link,
      header nav ul li a:visited {
        color: #3e2723;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
        padding-bottom: 0.3rem; }
        @media (min-width: 1024px) {
          header nav ul li a:link,
          header nav ul li a:visited {
            font-size: 1.1rem; } }
      header nav ul li a:hover,
      header nav ul li a:active {
        border-bottom: 2px solid #f44034; }
        @media (min-width: 1024px) {
          header nav ul li a:hover,
          header nav ul li a:active {
            font-size: 1.1rem; } }

section#intro {
  position: relative; }
  @media (min-width: 1024px) {
    section#intro {
      background-image: url(/assets/images/intro-bg.jpg);
      background-size: cover;
      background-position: right; } }
  section#intro--img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100px;
    width: auto;
    margin-top: -5rem; }
    @media (min-width: 768px) {
      section#intro--img {
        height: 150px; } }
    @media (min-width: 1024px) {
      section#intro--img {
        display: none; } }

section#hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 0; }
  section#hero .hero-text-content {
    position: absolute;
    text-align: center;
    color: #dfc19b;
    width: 100%;
    bottom: 0.5rem;
    letter-spacing: 0.2rem;
    line-height: 2.5rem; }
    @media (min-width: 480px) {
      section#hero .hero-text-content {
        width: 70%;
        top: 10%;
        -webkit-transform: translateY(60%);
                transform: translateY(60%);
        right: -5%; } }
    @media (min-width: 768px) {
      section#hero .hero-text-content {
        color: #3e2723;
        width: 40%;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 0;
        line-height: 3rem;
        letter-spacing: 0.1rem; } }
    @media (min-width: 1024px) {
      section#hero .hero-text-content {
        line-height: 4.5rem;
        letter-spacing: 0.2rem;
        left: 5%; } }

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative; }
  @media (min-width: 768px) {
    section {
      height: 100vh; } }
  @media (min-width: 1024px) {
    section {
      padding-top: 4.5rem;
      padding-bottom: 4.5rem; } }

section#snacks {
  background-image: linear-gradient(rgba(222, 193, 154, 0.8), rgba(222, 193, 154, 0.8)), url(/assets/images/snacks-01.jpg);
  background-size: cover;
  background-position: center;
  padding: 0; }
  @media (min-width: 768px) {
    section#snacks {
      background-color: #dfc19b;
      background-image: none; } }
  section#snacks ul {
    height: 100%; }
    section#snacks ul li {
      display: block;
      height: 33.33%;
      overflow: hidden; }
  section#snacks h2 {
    padding-top: 2rem;
    text-align: center; }
  section#snacks p {
    padding-top: 2rem;
    text-align: center; }
    @media (min-width: 480px) {
      section#snacks p {
        padding-top: 4rem; } }

.snacks-pic {
  width: 100%;
  margin: 0; }
  .snacks-pic img {
    width: 100%;
    opacity: 0.7;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    transition: all 0.3s; }
  .snacks-pic img:hover {
    -webkit-transform: scale(1.18);
            transform: scale(1.18);
    opacity: 1; }

section#contact {
  padding: 0; }
  section#contact .contact-bg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(/assets/images/contact.jpg);
    background-size: cover;
    background-position: center; }
    @media (min-width: 768px) {
      section#contact .contact-bg {
        height: 100vh; } }
  section#contact .wrapper--col-2 {
    padding: 1rem 0; }
  section#contact .wrapper--col-3 {
    padding: 1rem 1rem 1rem 3rem;
    text-align: left; }
  section#contact h3 {
    text-align: center; }
  section#contact .line {
    margin-bottom: 5rem; }
  section#contact input[type="text"],
  section#contact input[type="email"],
  section#contact select,
  section#contact textarea {
    width: 100%;
    padding: 0.6rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.63); }
  section#contact textarea {
    height: 100px; }
  section#contact input[type="checkbox"] {
    margin: 10px 5px 10px 0; }
  section#contact input[type="submit"] {
    margin-top: -5rem; }
  section#contact *:focus {
    outline: none; }

section#how {
  padding: 0;
  background-color: #dbd7d7;
  text-align: center; }
  section#how h2 {
    padding-top: 2rem;
    text-align: center; }
  section#how .how-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/assets/images/how-it-works.jpg);
    background-size: cover;
    background-position: center;
    padding: 0; }
  section#how .num {
    color: #f44034;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem; }
  section#how p {
    padding-bottom: 1.5rem; }
  section#how img {
    height: 2.8rem;
    width: auto;
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem; }
    @media (min-width: 480px) {
      section#how img {
        margin-right: 1.4rem;
        margin-top: 3rem;
        display: inline-block; } }
    @media (min-width: 768px) {
      section#how img {
        display: block;
        margin: 0 auto;
        margin-top: 1rem; } }
    @media (min-width: 1024px) {
      section#how img {
        display: inline-block;
        height: 2.5rem;
        margin-top: 3rem;
        margin-right: 1.4rem; } }

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/footer.jpg);
  background-size: cover;
  background-position: center;
  height: 15rem;
  color: #ffffff;
  font-size: 1.1rem; }
  footer .icon {
    color: white;
    font-size: 2.3rem; }
  footer a {
    padding-right: 1.5rem;
    float: right; }
  footer .row {
    height: 50%;
    padding-top: 2rem; }
  footer .smaller {
    font-size: 1rem; }
  footer .lineheight {
    line-height: 2rem; }

section#testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/coffee-beans-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #dfc19b; }
  section#testimonials .wrapper--bg-box {
    padding: 1rem;
    font-style: italic;
    text-align: left; }
    @media (min-width: 1024px) {
      section#testimonials .wrapper--bg-box {
        padding: 2rem; } }
  section#testimonials .wrapper {
    padding: 1rem; }
    @media (min-width: 1024px) {
      section#testimonials .wrapper {
        padding: 1.875rem 2.5rem; } }
  section#testimonials .wrapper--col-3 {
    padding: 0; }
    @media (min-width: 1024px) {
      section#testimonials .wrapper--col-3 {
        padding: 2rem 1rem; } }
  section#testimonials h5 {
    padding-bottom: 1rem; }
    @media (min-width: 1024px) {
      section#testimonials h5 {
        text-align: center; } }
  section#testimonials img {
    display: inline-block;
    width: 80px;
    border-radius: 50%;
    float: left;
    margin: -0.6rem 1rem 0.5rem 0; }
    @media (min-width: 768px) {
      section#testimonials img {
        width: 95px; } }
    @media (min-width: 1024px) {
      section#testimonials img {
        display: block;
        width: 50%;
        height: auto;
        margin: 0 auto;
        margin-top: -42%;
        margin-bottom: 1rem;
        float: none; } }
  section#testimonials .wrapper--flex {
    margin-top: 2rem; }

.btn:link,
.btn:visited,
input[type="submit"] {
  font-weight: 300;
  letter-spacing: normal;
  line-height: normal;
  padding: 0.7rem;
  color: #dfc19b;
  background-color: #f44034;
  border: 1px solid #f44034;
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.1rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s; }
  @media (min-width: 768px) {
    .btn:link,
    .btn:visited,
    input[type="submit"] {
      margin-top: 1rem;
      padding: 0.5rem; } }
  @media (min-width: 1024px) {
    .btn:link,
    .btn:visited,
    input[type="submit"] {
      margin-top: 1.5rem;
      padding: 0.5rem 0.8rem; } }

.btn:hover,
.btn:active {
  background-color: #bf2818;
  border: 1px solid #bf2818; }

.btn--ghost:link,
.btn--ghost:visited,
input[type="submit"] {
  color: #f44034;
  background-color: transparent;
  margin-left: 0.5rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem; }
  @media (min-width: 480px) {
    .btn--ghost:link,
    .btn--ghost:visited,
    input[type="submit"] {
      margin-left: 0.3rem;
      padding-left: 0.7rem;
      padding-right: 0.7rem; } }
  @media (min-width: 1024px) {
    .btn--ghost:link,
    .btn--ghost:visited,
    input[type="submit"] {
      margin-left: 1rem;
      padding-left: 1rem;
      padding-right: 1rem; } }

.btn--ghost:hover,
.btn--ghost:active {
  color: #dfc19b;
  background-color: #f44034;
  border: 1px solid #f44034; }

.btn--full-body:link,
.btn--full-body:visited {
  transition: border 0.2s, border-radius 0.2s; }

.btn--full-body:hover,
.btn--full-body:active {
  border: 1px solid #dfc19b;
  border-radius: 10px;
  padding: 1.9375rem 1.3125rem; }
  .btn--full-body:hover h4,
  .btn--full-body:active h4 {
    color: #f44034; }

.btn--deals {
  margin: 0 auto; }

.icon {
  font-size: 3rem;
  color: #f44034; }
  @media (min-width: 1024px) {
    .icon {
      font-size: 4rem; } }

.line {
  display: block;
  height: 2px;
  background-color: #f44034;
  content: " ";
  width: 60px;
  margin: 0 auto;
  margin-top: 30px; }
  @media (min-width: 480px) {
    .line {
      margin-top: 15px; } }
  @media (min-width: 1024px) {
    .line {
      width: 100px; } }
  .line--small {
    height: 1px;
    background-color: #dfc19b;
    width: 10%;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem; }
    @media (min-width: 1024px) {
      .line--small {
        width: 25%; } }
  .line--small-red {
    background-color: #f44034;
    width: 10%;
    height: 1px;
    margin-top: 10px; }
