//BREAKPOINTS
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
//-----------------------------------------|

@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@mixin light-font {
  font-weight: 300;
}

@mixin center {
  text-align: center;
}

@mixin right {
  float: right;
}

@mixin bg-image {
  background-size: cover;
  background-position: center;
}

@mixin transition {
  transition: all 0.3s;
}
