//BREAKPOINTS
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
//-----------------------------------------|

@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@mixin section-divided {
  grid-template-columns: repeat(2, 1fr);
}
@mixin grid-full {
  grid-column: span 12;
}

@mixin light-font {
  font-weight: 300;
}

@mixin center {
  text-align: center;
}

@mixin right {
  float: right;
}

@mixin absolute {
  position: absolute;
}
@mixin bg-image {
  background-size: cover;
  background-position: center;
}

@mixin transition {
  transition: all 0.3s;
}
@mixin scale {
  transform: scale(1.2);
}
@mixin no-overflow {
  overflow: hidden;
}

@mixin beige-bg {
  background-color: hsla(34, 51%, 74%, 0.705);
}
@mixin dark-bg {
  background-color: rgba(0, 0, 0, 0.788);
}
@mixin white-bg {
  background-color: rgba(255, 255, 255, 0.836);
}
