//COLORS
$mainBrown: hsl(9, 28%, 19%);
$mainRed: hsl(4, 90%, 58%);
$darkRed: hsl(4, 69%, 41%);
$mainBeige: hsl(34, 51%, 74%);
$lightGray: hsl(0, 0%, 79%);
$mediumGray: hsl(0, 0%, 51%);

//BREAKPOINTS
$screen-sm-min: 480px;
$screen-md-min: 810px;
$screen-lg-min: 1024px;
