//COLORS
$mainBrown: hsl(9, 28%, 19%);
$mainRed: hsl(4, 90%, 58%);
$mainBeige: hsl(34, 51%, 74%);
$btn-hover: hsl(6, 78%, 42%);

//BREAKPOINTS
// $breakpoints: (
//   "small": (
//     min-width: 480px
//   ),
//   "medium": (
//     min-width: 768px
//   ),
//   "large": (
//     min-width: 1024px
//   )
// );
$screen-sm-min: 480px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
