.btn:link,
.btn:visited,
button {
  padding: 0.6rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: $mainBeige;
  border: 1px solid $mainRed;
  background-color: $mainRed;

  @include transition;

  @include sm {
    font-size: 1rem;
  }
  @include md {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  @include lg {
    font-size: 1.3rem;
  }

  &:hover,
  &:active {
    border: 1px solid $darkRed;
    background-color: $darkRed;
  }

  &[type="submit"] {
    color: $mainBeige;
    padding: 0.6rem 1rem;
  }
}

.btn-ghost:link,
.btn-ghost:visited {
  @extend .btn;
  background-color: rgba(197, 173, 128, 0.5);
  color: $mainRed;
  @include transition;

  @include sm {
    margin-left: 1rem;
  }

  &:hover,
  &:active {
    color: $mainBeige;
  }
}

.app-btn:link,
.app-btn:visited {
  margin-right: 1rem;
  img {
    width: 7rem;
    height: auto;
    @include transition;

    @include sm {
      width: 9rem;
    }

    &:hover,
    &:active {
      @include scale;
    }
  }
}
