button {
  font-size: 1.3rem;
  padding: 0.6rem;
  margin-top: 2rem;
  border: 1px solid $mainRed;
  background-color: $mainRed;
  @include transition;

  &:hover {
    border: 1px solid $darkRed;
    background-color: $darkRed;
  }

  &[type="submit"],
  a {
    color: $mainBeige;
    padding: 0.6rem 1rem;
  }
}

.btn-ghost {
  background-color: transparent;
  margin-left: 1rem;

  a {
    color: $mainRed;
    @include transition;

    &:hover {
      color: $mainBeige;
    }
  }
}

.app-btn {
  background-color: transparent;
  grid-column: span 3;
  margin: 0;
  border: none;
  @include transition;

  &:first-child {
    grid-column: 4 / span 3;
  }

  &:hover {
    background-color: transparent;
    border: none;
    @include scale;
  }

  img {
    width: 90%;
    height: auto;
  }
}
