.container {
  padding: 1rem;
  height: auto;

  @include md {
    grid-column: 2 / 12;
    padding: 0;
  }

  &-smaller {
    padding: 2rem;
    @include center;

    @include md {
      grid-column: 3 / 11;
    }
  }
}
.grid-half {
  grid-column: span 1;
}
.row-grid-no-p {
  grid-column: span 12;
}

.row {
  grid-column: span 12;
  padding-top: 3rem;
  @include center;
}
.section-row {
  @extend .row;
  padding-top: 4rem;
  @include md {
    padding-top: 6rem;
  }
}

.row-grid {
  @include grid;
  @include center;
}

.row-smaller-p {
  padding-top: 1rem;

  @include sm {
    padding-top: 2rem;
  }
}

.wrapper {
  @include center;
  padding: 3rem;
  line-height: 2;
  max-width: 40rem;
  margin: 0 auto;

  @include sm {
    padding: 3rem 5rem;
    line-height: 3;
  }

  &-grid-1-5 {
    line-height: 1.7;
    padding: 1rem 3rem;

    @include md {
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-gap: 1rem;
      padding: 3rem 5rem;
    }

    p {
      align-self: center;
    }
  }
}
.left {
  text-align: left;
}
.visible {
  display: block;
}
.reveal-item {
  opacity: 0;
  transform: scale(1.2);
  transition: all 1.5s ease-out;

  &--is-visible {
    opacity: 1;
    transform: scale(1);
  }
}
