.container {
  grid-column: 2 / 12;
  height: auto;
}

.container-smaller {
  grid-column: 3 / 11;
  @include center;
}

.row {
  grid-column: span 12;
  padding-top: 3rem;
  @include center;
}

.row-grid {
  @include grid;
  @include center;
}

form {
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 0.6rem;
    border-radius: 3px;
    border: 1px solid $mediumGray;
    background-color: $lightGray;
  }
  textarea {
    height: 100px;
  }
  input[type="checkbox"] {
    margin: 10px 5px 10px 0;
  }
  input[type="submit"] {
    margin-top: -5rem;
  }
  *:focus {
    outline: none;
  }
}
