body {
  @include light-font;
  font-family: "Lato", "Arial", sans-serif;
  color: $mainBrown;
  font-size: 1.1rem;

  @include lg {
    font-size: 1.25rem;
  }
}

h1,
h2,
h3,
h4 {
  @include light-font;
  text-transform: uppercase;
}
